.swiper {
  overflow: visible;
  transition:
    transform 0.7s cubic-bezier(0.3, 0, 0.3, 1),
    opacity 0.4s linear,
    color 0.3s linear;
  transition-delay: 0.15s;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.swiper-slide {
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.7s;
}

.swiper-slide-visible {
  opacity: 1;
  visibility: visible;
}

.swiper-pagination {
  margin: auto;
  position: relative;
  width: fit-content !important;
}

.swiper-pagination.swiper-pagination-bullets:before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  display: block;
}

.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  position: relative;
  top: 0;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  margin: 0 10px;
  opacity: 1 !important;
  position: relative;
  border: 2px solid #000;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.dark .swiper-pagination.swiper-pagination-bullets:before {
  background: #fff;
}

.dark .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #1d222a;
  border: 2px solid #fff;
}

.swiper-pagination.swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #29a587;
  height: 12px;
  top: 2px;
  width: 12px;
}

.swiper-pagination.swiper-pagination-bullets
  .swiper-pagination-bullet:first-child {
  margin-left: 0;
}

.swiper-pagination.swiper-pagination-bullets
  .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
