.animation:hover::after {
  height: 3px;
  animation: borderBottom 0.8s ease forwards;
}

@keyframes borderBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  top: 0;
  left: 0;
}
