@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-header--in {
  animation: headerAnimation ease 0.5s forwards;
}

@keyframes headerAnimation {
  0% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}
