@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-header--in {
  animation: headerAnimation ease 0.5s forwards;
}

.loading-spinner--animation {
  animation: loadingSpinner 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes headerAnimation {
  0% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}

@keyframes loadingSpinner {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }

  50% {
    width: 100%;
    left: 0;
    right: auto;
  }
  51% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
